{% extends 'main/index.html' %}
{% block content %}
<small><a href="{% url 'emoji_index' %}">[back]</a></small>
<p><b>Q: This site is slow</b><br><i>Yup! <a id="contactlink" href="#https://github.com/WillDrug/emojiurl">contact me</a> if for some stupid reason you're using this service regulary</i></p>
<p><b>Q: I want this feature</b><br><i><a id="contactlink" href="#https://github.com/WillDrug/emojiurl">Contact me</a>! I actually would love to improve on this.</i></p>
<p></p>
<p><a href="/emojiurl/">go back</a></p>
<script>
    $('#contactlink').on("click", function(e){
        e.preventDefault();
        $(".dropdown-menu").toggle();

    });
</script>
{% endblock %}