{% extends 'main\index.html' %}
{% load static %}
{% block content %}
    <!-- emoji picker by https://github.com/OneSignal/emoji-picker -->
<style>
    .emoji-picker-container i {
        width: 10px;
        height: 10px;
        background-color: blue;
    }
</style>
       <link href="{% static 'emojiurl/css/emoji.css' %}" rel="stylesheet">
      <script src="{% static 'emojiurl/js/config.js' %}"></script>
      <script src="{% static 'emojiurl/js/util.js' %}"></script>
      <script src="{% static 'emojiurl/js/jquery.emojiarea.js' %}"></script>
      <script src="{% static 'emojiurl/js/emoji-picker.js' %}"></script>
<body>
<h1>Emoji URL Maker</h1>
<small><a href="{% url 'emoji_help' %}">[help]</a></small>
<form id="emojiform" action="{% url 'show_link' %}"  method="POST">
    <div class="form-group" style="width: 50%">
    {% csrf_token %}
    <p>
        {{ form.fields.link.label }}: {{ form.link}}
    </p>
    <p>
        {{ form.fields.linktype.label }}: <div class="form-control form-group">
        {% for btn in form.linktype %}
            {{btn}}
        {% endfor %}
    </div>
    </p>
    <p>
        {{ form.fields.custom_text.label }}:  <p class="lead emoji-picker-container" id="e-container"> {{ form.custom_text }}</p>
    </p>
    <input class="btn btn-primary mb-2" type="submit">
</div>

</form>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#url-modal" style="display:none;" id="trigger-modal">
    </button>
    <!-- Modal -->
<div class="modal fade" id="url-modal" tabindex="-1" role="dialog" aria-labelledby="url-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="url-modal-content">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <script>

      $('input[name="linktype"]').on("change", function() {
            if ($('input[name="linktype"]')[0].checked == true) {
                $('#e-container textarea').each(function(e) {
                    $('#e-container textarea')[e].disabled=true;
                    $('#e-container textarea')[e].style["display"] = "block"
                  }
                )
                $('.emoji-wysiwyg-editor').attr("style", "display: none")
            }else{
                $('#e-container textarea').each(function(e) {
                    $('#e-container textarea')[e].disabled=false;
                    $('#e-container textarea')[e].style["display"] = "none";
                 })
                $('.emoji-wysiwyg-editor').attr("style", "display: block")

            }
      });
      $(function() {
        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
          emojiable_selector: '[data-emojiable=true]',
          assetsPath: '{% static 'emojiurl/img/' %}',
          popupButtonClasses: 'fa fa-smile-o'
        });
        // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
        // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
        // It can be called as many times as necessary; previously converted input fields will not be converted again
        window.emojiPicker.discover();
        $('input[name="linktype"]')[0].click()
      });
      $('#emojiform').submit(function(e){
        e.preventDefault();
        var url = $('#emojiform').attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: $('#emojiform').serialize(),
            success: function(data)
            {
                $('#url-modal-content').html(data);
                $('#trigger-modal').click()
            }
            });
      });

    </script>
</body>
</html>
{% endblock %}
