<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Frontpage for Willdrug">
    <meta name="author" content="Sergei Bobkov">
    <title>Toychest</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url }}/static/toychest.css">
    <link rel="stylesheet" href="{{ url }}/static/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
            async></script>


</head>
<body data-bs-theme="light">
    <header class="p-2 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <button onclick="changeTheme()" style="padding: 0px" class="btn btn-dark border-secondary"><strong style="margin-left: 20px; margin-right: 20px">Toychest</strong></button>
            </div>
        </div>
    </header>
    <main>
        <div class="container main-body">
            {% autoescape false %}
                {{ document }}
            {% endautoescape %}
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-secondary">
        <div class="container">
            <span class="text-muted">Special page to render an article. :)</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
<script>
    var m;
    var tags = [];
    var grid = document.getElementById('grid');
    var offgrid = document.getElementById('offgrid')
    window.onload = function() {
        m = new Masonry('#grid', {itemSelector: '.toycard', columnWidth: '.sizer'});
        m.layout();
    }
    function resetCards() {
        tags = [];
        document.getElementById("mainbtn").classList.add('active');
        for (let item of document.getElementsByClassName('tagbtn')) {
            item.classList.remove('active')
        }

        for (let item of document.getElementsByClassName('toycard')) {
            item.classList.remove('d-none');
        }
        m.layout();
    }
    function setTag(elem) {
        if (elem.classList.contains('active')) {
            if (tags.indexOf(elem.innerText) > -1) {
                tags.splice(tags.indexOf(elem.innerText), 1);
            }
            elem.classList.remove('active');
        } else {
            tags.push(elem.innerText);
            elem.classList.add('active');
        }
        for (let item of document.getElementsByClassName('toycard')) {
            let elemTags = (item.getAttribute('tags') || '').split(',')
            if (tags.every(t => elemTags.includes(t))) {
                item.classList.remove('d-none');
            } else {
                item.classList.add('d-none');
            }
        }
        if (tags.length == 0) {
            document.getElementById("mainbtn").classList.add('active');
        } else {
            document.getElementById("mainbtn").classList.remove('active');
        }
        m.layout();
    }

    function changeTheme() {
        const cur = document.getElementsByTagName("body")[0].attributes['data-bs-theme'].value;
        if (cur === 'dark') {
            document.getElementsByTagName("body")[0].attributes['data-bs-theme'].value = 'light';
            window.localStorage.setItem('theme', 'light');
        } else {
           document.getElementsByTagName("body")[0].attributes['data-bs-theme'].value = 'dark';
           window.localStorage.setItem('theme', 'dark');
        }
    }
    if (!window.localStorage.getItem('theme')) {
        window.localStorage.setItem('theme', 'light');
    }
    document.getElementsByTagName('body')[0].attributes['data-bs-theme'].value = window.localStorage.getItem('theme');
</script>
</html>
